.banner-ouve {
    
    display: grid;
    grid-template-columns: 1fr 0fr;
    gap: 50px;
    /* width: 470px; */
    margin-left: 2%;
    /* justify-content: center;*/
}

.banner-section {
    display: flex;
        gap: 50px;
}
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateY(-50%);
    }
  }
  
  .bannercentral,
  .banner-ouvidoria-central {
    transition: transform 0.3s ease-in-out;
  }
  
  .bannercentral:hover,
  .banner-ouvidoria-central:hover {
    transform: scale(1.1);
  }
  