.banner-ouve {
    
    display: flex;
        gap: 50px;
        justify-content: center;
}

.banner-section {
    display: flex;
    margin-top: 25px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin-bottom: 15px;
}

.canais_atendimento {

    
        position: relative;
        text-decoration: underline;
        text-decoration-thickness: 3px; /* Espessura da linha */
        text-underline-offset: 8px; /* Distância entre o texto e a linha */
        text-decoration-color: #007bff; /* Cor da linha */
        display: inline-block;

      
}
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateY(-50%);
    }
  }
  
  .bannercentral,
  .banner-ouvidoria-central {
    transition: transform 0.3s ease-in-out;
  }
  
  .bannercentral:hover,
  .banner-ouvidoria-central:hover {
    transform: scale(0.9);
  }
  